doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title citrix-test
    link(href="lib.css" rel="stylesheet")
    link(href="app.css" rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet")

  body(ng-app="citrix-test")
    div(ng-view="")
    script(src="lib.js")
    script(src="templates.js")
    script(src="app.js")
