h3 Citrix Podio
input(type="text" ng-model="filter")
ul
  li.lol(ng-repeat="org in data | filter:canViewOrg")
    {{org.name}}
    ul
      li(ng-repeat="space in org.spaces | filter:canViewSpace")
        {{space.name}}
